@mixin container-nota {
    background-color: map-get($colores, color4);
    width: 90%;
    margin: auto;
    padding: .3125rem;
}

@mixin volanta{
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: .8125rem;
    justify-content: space-between;
    width: 90%;
    margin-left: 2.5rem;
    margin-top: 3.125rem;
    padding-left: 1.25rem;
    color: map-get($colores, color3);
}

@mixin titulo-nota{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 2.5rem;
    margin-top: .625rem;
    padding-left: 1.25rem;
    color: map-get($colores, color3);
    text-align: center;
}

@mixin bajada-nota{
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: .9375rem;
    width: 90%;
    margin-left: 3.125rem;
    margin-top: .625rem;
    padding-left: 2.5rem;
    color: #111827;
    text-align: left;
}

@mixin imagen-nota{
    display: flex;
    justify-content: center;
    margin: 1.875rem;
}

@mixin cuerpo-nota{
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    justify-content: center;
    width: 90%;
    margin-left: 2.5rem;
    margin-top: .625rem;
    padding-left: 1.25rem;
    color: #111827;
    text-align: left;
}

@mixin espacio{
    margin-bottom: 3.75rem;
    padding-bottom: 1.875rem;
}

@mixin imagennota2{
    display: flex;
    justify-content: center;
    margin-left: 5.625rem;
    width: 62.5rem;
    margin-bottom: 2.5rem;
}


